<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Return form"}} @-->
<!--@vars {
"var data.comment":"Comment",
"var data.email":"Sender Email",
"var data.name":"Sender Name",
"var data.telephone":"Sender Telephone"
} @-->

{{template config_path="design/email/header_template"}}

<table class="g-table__base">
    <tr class="g-table__border-bottom">
        <td colspan="2" class="g-table__padding">
            <table>
                <tr>
                    <th colspan="2"><h1 class="g-table__header">{{trans "Confirm your email address"}}</h1></th>
                </tr>
                <tr>
                    <td colspan="2" class="g-table__text-center">For your email <a href="#">gromolga.work@gmail.com </a>
                        a request was made to confirm the e-mail address.
                        To verify your email address you must go to <a href="#">link </a> or by clicking the
                        "Confirm email" button.
                    </td>
                </tr>
                <tr>
                    <td class="g-table__text-center">
                        <a class="g-button g-button_danger" href="#">{{trans "Confirm email"}}</a>
                    </td>
                </tr>
                <tr>
                    <td>If you did not request this confirmation, please ignore this message or contact to our contact
                        center by phone (044) 537-02-22, (044) 503-80-80 or by email
                        <a href="#">sales@rozetka.com.ua</a></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr class="g-table__border-bottom">
        <td colspan="2" class="g-table__padding">
            <table>
                <tr>
                    <td width="50%">
                        <table class="g-table__margin">
                            <tr>
                                <td>
                                    <img src="{{view url='Grom_EmailConfirm/images/notebook.png'}}" height="20" alt="{{trans 'Laptops, tablets and PCs'}}" />
                                </td>
                                <td>
                                    <a href="#">Laptops, tablets and PCs</a>
                                </td>
                            </tr>
                        </table>
                        <table class="g-table__margin">
                            <tr>
                                <td>
                                    <img src="{{view url='Grom_EmailConfirm/images/phone.png'}}" height="20" alt="{{trans 'Phones, MP3'}}" />
                                </td>
                                <td>
                                    <a href="#">Phones, MP3</a>
                                </td>
                            </tr>
                        </table>
                        <table class="g-table__margin">
                            <tr>
                                <td>
                                    <img src="{{view url='Grom_EmailConfirm/images/tv.png'}}" height="20" alt="{{trans 'TV, Audio, Video, Photo'}}" />
                                </td>
                                <td>
                                    <a href="#">TV, Audio, Video, Photo</a>
                                </td>
                            </tr>
                        </table>
                        <table class="g-table__margin">
                            <tr>
                                <td>
                                    <img src="{{view url='Grom_EmailConfirm/images/appliances.png'}}" height="20" alt="{{trans 'Household appliances and interior'}}" />
                                </td>
                                <td>
                                    <a href="#">Household appliances and interior</a>
                                </td>
                            </tr>
                        </table>
                        <table class="g-table__margin">
                            <tr>
                                <td>
                                    <img src="{{view url='Grom_EmailConfirm/images/tourism.png'}}" height="20" alt="{{trans 'Active rest and tourism'}}" />
                                </td>
                                <td>
                                    <a href="#">Active rest and tourism</a>
                                </td>
                            </tr>
                        </table>
                        <table class="g-table__margin">
                            <tr>
                                <td>
                                    <img src="{{view url='Grom_EmailConfirm/images/bear.png'}}" height="20" alt="{{trans 'Child&rsquo;s world'}}" />
                                </td>
                                <td>
                                    <a href="#">Child's world</a>
                                </td>
                            </tr>
                        </table>
                        <table class="g-table__margin">
                            <tr>
                                <td>
                                    <img src="{{view url='Grom_EmailConfirm/images/arm-chair.png'}}" height="20" alt="{{trans 'Household products'}}" />
                                </td>
                                <td>
                                    <a href="#">Household products</a>
                                </td>
                            </tr>
                        </table>
                        <table class="g-table__margin">
                            <tr>
                                <td>
                                    <img src="{{view url='Grom_EmailConfirm/images/house.png'}}" height="20" alt="{{trans 'Summer house, garden, kitchen garden'}}" />
                                </td>
                                <td>
                                    <a href="#">Summer house, garden, kitchen garden</a>
                                </td>
                            </tr>
                        </table>
                        <table class="g-table__margin">
                            <tr>
                                <td>
                                    <img src="{{view url='Grom_EmailConfirm/images/instruments.png'}}" height="20" alt="{{trans 'Tools and equipment'}}" />
                                </td>
                                <td>
                                    <a href="#">Tools and equipment</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="50%">
                    <table class="g-table__margin">
                        <tr>
                            <td>
                                <img src="{{view url='Grom_EmailConfirm/images/car.png'}}" height="20" alt="{{trans 'Car goods'}}" />
                            </td>
                            <td>
                                <a href="#">Car goods</a>
                            </td>
                        </tr>
                    </table>
                    <table class="g-table__margin">
                        <tr>
                            <td>
                                <img src="{{view url='Grom_EmailConfirm/images/instruments.png'}}" height="20" alt="{{trans 'Musical instruments'}}" />
                            </td>
                            <td>
                                <a href="#">Musical instruments</a>
                            </td>
                        </tr>
                    </table>
                    <table class="g-table__margin">
                        <tr>
                            <td>
                                <img src="{{view url='Grom_EmailConfirm/images/tickets.png'}}" height="20" alt="{{trans 'Air and railway tickets'}}" />
                            </td>
                            <td>
                                <a href="#">Air and railway tickets</a>
                            </td>
                        </tr>
                    </table>
                    <table class="g-table__margin">
                        <tr>
                            <td>
                                <img src="{{view url='Grom_EmailConfirm/images/clothes.png'}}" height="20" alt="{{trans 'Clothing, Shoes & Accessories'}}" />
                            </td>
                            <td>
                                <a href="#">Clothing, Shoes & Accessories</a>
                            </td>
                        </tr>
                    </table>
                    <table class="g-table__margin">
                        <tr>
                            <td>
                                <img src="{{view url='Grom_EmailConfirm/images/jewelry.png'}}" height="20" alt="{{trans 'Jewelry'}}" />
                            </td>
                            <td>
                                <a href="#">Jewelry</a>
                            </td>
                        </tr>
                    </table>
                    <table class="g-table__margin">
                        <tr>
                            <td>
                                <img src="{{view url='Grom_EmailConfirm/images/cosmetics.png'}}" height="20" alt="{{trans 'Cosmetics and perfumery'}}" />
                            </td>
                            <td>
                                <a href="#">Cosmetics and perfumery</a>
                            </td>
                        </tr>
                    </table>
                    <table class="g-table__margin">
                        <tr>
                            <td>
                                <img src="{{view url='Grom_EmailConfirm/images/office.png'}}" height="20" alt="{{trans 'Office and school'}}" />
                            </td>
                            <td>
                                <a href="#">Office and school</a>
                            </td>
                        </tr>
                    </table>
                    <table class="g-table__margin">
                        <tr>
                            <td>
                                <img src="{{view url='Grom_EmailConfirm/images/pet.png'}}" height="20" alt="{{trans 'Pet supplies'}}" />
                            </td>
                            <td>
                                <a href="#">Pet supplies</a>
                            </td>
                        </tr>
                    </table>
                </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="g-table__padding g-table__border-right">
            <span>{{trans "Internet-shop Rozetka.ua"}}</span></br>
            <a href="#">Kiev, Bandery, 6</a>
        </td>
        <td class="g-table__padding">
            <a href="#">(044) 537-02-22</a></br>
            <a href="#">0 (800) 303-344</a></br>
            <a href="#">(044) 503-80-80</a>
        </td>
    </tr>
</table>


<!--@styles
.g-button__danger:hover,
.g-button__danger:active,
.g-button__danger:visited {
  color: lime !important;
}
@-->


{{template config_path="design/email/footer_template"}}
