<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Return form"}} @-->
<!--@vars {
"var data.comment":"Comment",
"var data.email":"Sender Email",
"var data.name":"Sender Name",
"var data.telephone":"Sender Telephone"
} @-->

{{template config_path="design/email/header_template"}}

<table class="g-table__base">
    <tr>
        <td>
            <table class="g-table__border-bottom">
                <tr>
                    <th class="g-table__padding">
                        <h1 class="g-table__header">Обновления, которые вам стоит увидеть</h1>
                    </th>
                </tr>
                <tr>
                    <td class="g-table__padding">Новые публикации Gabriel Simas Bolsonaro</td>
                </tr>
                <tr>
                    <td class="g-table__padding">
                        <img class="g-table__preview" src="https://ci3.googleusercontent.com/proxy/jeV_t6hmw4KAW5EVmaYNdW1Lth_85tsINBkB3O_tWDBO2yYPrJa49Uj5yn_T0vbolYJgM5PGbd9sYEcWZxswkNGIGXwEhSkdnoR7T8xH4cBjKYB9MCs0WCTQOE0yMT6F=s0-d-e1-ft#https://ea.twimg.com/email/self_serve/media/edge_retweet-1498066923163.png">
                        <span>Ретвитов: 21</span>
                    </td>
                </tr>
                <tr>
                    <td class="g-table__padding">
                        <img class="g-table__preview" src="https://ci3.googleusercontent.com/proxy/LFhD_dp0_me_wPpmgYHvHYJFxoqnrhuGQTs66InghE1qQLhox4A-wIoIL7syFkJGbxD1IZ0DQD9W_1uvPt7TRqYeDu0qbbKxVQ5pj8IOf8r_5ZlAeT92aJYbV3d2=s0-d-e1-ft#https://ea.twimg.com/email/self_serve/media/edge_like-1498066923154.png">
                        <span>Отметок "Нравится": 21</span>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td class="g-table__padding g-table__text-center">Посмотреть все обновления</td>
                </tr>
            </table>
        </td>
    </tr>
</table>


{{template config_path="design/email/footer_template"}}
