@font-face {
  font-family: 'PTSans';
  src: url('../fonts/PTSans/PTSans.eot');
  src: url('../fonts/PTSans/PTSans.woff2') format('woff2'),
       url('../fonts/PTSans/PTSans.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans-Regular';
  src: url('../fonts/PTSans/PTSans-Regular.woff') format('woff'),
       url('../fonts/PTSans/PTSans-Regular.ttf') format('truetype'),
       url('../fonts/PTSans/PTSans-Regular.svg#PTSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

