.mega-menu {
  position: relative;
  z-index: 10;
  &_item {
    &__top-level {
      margin: 0;
      &:hover {
        & > .mega-menu-dropbox {
          display: block;
        }
      }
    }
  }
  &_holder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 25%;
    background-color: #fff;
    &__show-vertical,
    &:hover {
      height: auto;
    }
    &__show-horisontal {
      width: 100%;
    }
    &-page {
      transform: translateY(-100%);
      &__slideUp {
        transform: translateY(-100%);
        transition: transform .5s;
      }
      &__slideDown {
        transform: translateY(0%);
        transition: transform .5s;
      }
    }
  }
  a {
    color: @main-text-color;
  }
  &_list {
    display: none;
    //display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
  }
  &_banner {
    float: right;
    width: 275px;
    height: 100%;
    text-align: right;
  }
  &_banner-img {
    max-height: 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .mega-menu {
    &_holder {
      display: none;
    }
  }
}

