.navbar {
   display: flex;
   position: relative;
   z-index: 100;
   &_item {
     position: relative;
     width: 25%;
     background-color: @main-color;
     transition: background-color .3s;
     &__bg-darkness {
       background-color: @main-color-dark;
       transition: background-color .3s;
     }
     &__hover {
       &:hover {
         background-color: @main-color-hover;
         transition: background-color .3s;
       }
     }
     &__uppercase {
       text-transform: uppercase;
       letter-spacing: 1.5px;
     }
     &__uppercase-label {
       padding-left: 40px;
       line-height: 1;
     }
     &-search {
       &-holder {
         padding: 6px 4px;
       }
       &-input {
         border-radius: 3px;
         background-color: #fff;
          &:focus {
            background-color: transparent;
            transition: .3s;
            border: 1px solid #fff;
          }
         &::-webkit-input-placeholder { /* WebKit browsers */
           color:    @main-color !important;
         }
         &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color:    @main-color !important;
         }
         &::-moz-placeholder { /* Mozilla Firefox 19+ */
           color:    @main-color !important;
         }
         &:-ms-input-placeholder { /* Internet Explorer 10+ */
           color:    @main-color !important;
         }
       }
     }
     &__large {
       width: 35%;
     }
     &__small {
       width: 20%;
     }
     .navbar_item-search-input {
       height: 51px;
     }
     &-burger {
       display: block;
       height: 20px;
       width: 20px;
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
     }
   }
  &_item-link {
    display: block;
    padding: 0 10px;
    > * {
      display: inline-block;
      margin: 0 5px;
      vertical-align: middle;
      line-height: 62px;
    }
  }
  &_item-link,
  &_item-link:hover,
  &_item-link:active,
  &_item-link:visited {
    color: #fff;
    text-decoration: none;
  }
  &_item-icon-link {
    &:hover {
      text-decoration: none;
    }
  }
}
@media screen and (max-width: 1130px) {
  .navbar {
    &_item {
      width: 30%;
      &__large {
        width: 30%;
      }
      &__small {
        width: 20%;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .navbar {
    display: none;
  }
}
